* {
	box-sizing: border-box;
}

/* reset UI styles */
button, input {
	font: inherit;
	background: none;
	border: none;
	border: 1px solid red;
	border-radius: 3px;
	padding: 3px 6px;
	line-height: 1;
	vertical-align: middle;
}

#container {
	max-width: 800px;
	margin: 0 auto;
}