.post{
    border: 1px solid gray;
    border-radius: 0.25em;
    padding: 1em;
    margin-top: 1em;        
}

.post-text {
   
    font-family: 'Itim';

}

.post-author {
    font-family: 'Amatic SC';
    

}

.post-date {
    font-family: 'Love Ya Like A Sister';
	

}